.div {
  width: 100%;
  display: grid;
  grid-template-columns: 22% 44% 44%;
  background-color: purple;
  border-bottom: 1px solid white;
}

.p {
  margin: 1rem;
  margin-right: 4rem;
  color: white;
}
