.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-ctr-skew {
  transform: skew(15deg);
  transition-duration: 200ms;
}

.btn {
  transform: skew(-15deg);
  background-color: #09041a;
  color: whitesmoke;
  border: none;
  padding: 8px 35px;
  margin: 30px auto;
  font-size: 1.2rem;
  transition-duration: 200ms;
}

.btn:hover {
  cursor: pointer;
  background-color: #483e69;
  transition-duration: 200ms;
}

.btn:hover > .btn-ctr-skew {
  transform: skew(-15deg);
  transition-duration: 200ms;
}
